<a href="https://colab.research.google.com/github/24Hariprasath/advancePythonLab/blob/main/Lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name : Hariprasath R
# Reg No : 22MID0021
# Lab date: 05-08-2025

In [5]:
# Lambda function

Square = lambda x: x*x #lambda is an alternative of writing def it can be used for single line expression complex codes like for loop cant be excuted using lambda
squared = Square(5)
print(squared)

25

# Iteratable

In [6]:
nums = [1,2,3,4,5,6]
for i in nums: #Iteratables are the data types which can be itereated like looped examples are list strings dictionary etc.
  print(i)

1
2
3
4
5
6

In [7]:
num = 123456
for i in num: #integer is not a iterable so u cant loop through it
  print(i)

TypeError: 'int' object is not iterable

In [8]:
# To make int iteratable
n = 1234567
digits = [int(d) for d in str(n)]   # List Comprehension
print(digits)

[1, 2, 3, 4, 5, 6, 7]

#dir() function returns a list of all the attributes and methods of an object.

In [9]:
nums = [1,2,3,4,5,6]
print(dir(nums))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# Collections.abc â€” Abstract Base Classes for Containers (iter(), next())

In [11]:
names = ["Ema","Tom","Hinton"] # original list
looper = names.__iter__()     # This line correctly creates an iterator object from your list
print(looper)
print(type(names))
print(type(looper))

looper = iter(names)   # same as "looper = names.__iter__()"
print(looper)
print(type(looper))

looper = iter(names)
print(next(looper))
print(next(looper))
print(next(looper))
print(next(looper))    # Error: Since no more iterable element available (Throws Exception: StopIteration)

<list_iterator object at 0x7cb404268730>
<class 'list'>
<class 'list_iterator'>
<list_iterator object at 0x7cb404269fc0>
<class 'list_iterator'>
Ema
Tom
Hinton

StopIteration:

In [12]:
# Iterating the list using iter() and accesing next element by next()
names = ["Ema","Tom","Hinton"] # original list
looper = iter(names)
while True:
    try:
        name = next(looper)
        print(name)
    except StopIteration:
        break

Ema
Tom
Hinton

# Map function

In [13]:
def square(x):
    return x*x
numbers = [1,2,3,4,5]
print(map(square,numbers))   # creates a map object

<map object at 0x7cb40429dc90>

In [14]:

def square(x):
    return x*x
numbers = [1,2,3,4,5]
print(list(map(square,numbers)))  # create a list using map

[1, 4, 9, 16, 25]

In [15]:
# Take a list of names, convert it to upper case and using map and lambda function convert it to lower case
names = ["Ema","Tom","Hinton"] # original list
for i in names:
    i.upper()
print(names)
print(list(map(lambda x:x.lower(),names)))

['Ema', 'Tom', 'Hinton']
['ema', 'tom', 'hinton']

In [16]:
from functools import reduce
numbers = [1,2,3,4,5]
print(reduce(lambda x,y:x+y,numbers))   #The reduce() function applies a function of two arguments cumulatively to the items of a sequence, from left to right, to reduce the sequence to a single value.

15

In [18]:
# A list of tokens (words) that form an inspirational quote
tokens = ["Ever","Tried","Ever","Failed","No","Matter","Try","Again","Fail","Again","Fail","Better"]

# Use reduce() with a lambda function to join the tokens
# The lambda function combines two strings with a space in between
quote = reduce(lambda combined_string, word: combined_string + " " + word, tokens)
print(quote)

Ever Tried Ever Failed No Matter Try Again Fail Again Fail Better